body{
	height:8000px;
	width:100%;
	margin: 0%;
	padding:0%;
	background-color: #222222;
}
header{
	background-color: #0D131A;
	height:7%;
	width:100%;
	margin: 0%;
	padding:0%;
}
section{
	background-color: #222222;
	height:87%;
	width:100%;
	margin: 0%;
	padding:0%;
}
footer{
	height: 4%;
	width:100%;
	background-color: #333333;
}

h1 {
	color: #EEF5F7;
	float: left;
	margin-left: 200px;
}
.menu ul li{
	display:inline-block;
	width:10%;
	height:38px;
	margin-right:103px;
	margin-bottom:2px;
	text-align:center;
	line-height:45px;
	float: left;
	position: relative;
}

.menu {
	
	font-family: 微软雅黑;
	width:70%;
	float: right;
	margin-top: 22px;
	margin-right: 10%;
}
.menu ul {
	padding:0%; 
	margin:0%;
	list-style-type: none;
	z-index: 2;
}
.menu ul li a, .menu ul li a:visited {
	display:block;
	text-align:center;
	text-decoration:none;
	width:230px;
	height:45px; 
	color:white;
	border:10px solid #AAA;
	border-width:0px 0px 0 0;
	background:#333333; 
	line-height:30px;
	font-size:25px;
	margin-top: 3px;
}
.menu ul li ul {
	display: none;
}
.menu ul li:hover a{
	color:#000000;
	background:#005387;
}
.menu ul li:hover ul {
	display:block;
	position:absolute;
	top:40px;
	left:0px;
	width:100px;
}
.menu ul li:hover ul li a {
	display:block;
	background:#F0F3F8;
	color:#000;
}
.menu ul li:hover ul li a:hover {
	background:#FFF100;
	color:#000;
}
.menu ul li a.hide{
	background: #FFF100;
	color:#000000;
	display: block;
}
.footerbutton button{
	font-size: 20px;
	color: #222222;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	margin-top: 4%;
	width: 100%;
}
.footerbutton a{
	text-decoration: none;
	color: #222222;
}
.footerbutton{
	position: absolute;
	margin-top: 5%;
	margin-left: 5%;
}
.shoppingmall{
	float: left;
	width: 36%;
	height: 70%;
	margin-left: 2%;
	margin-top: 2%;
}
table tr th,
table tr td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 0.5%;
	margin: 0%;
	text-align:center;
	vertical-align:middle
}
.table1{
	width: 48%;
	height: 58%;
	color: white;
	font-size: 21px;
	font-family:Arial;
	float :left;
	margin-top:3%;
	margin-left: -10%;
	}
.table1 th{
	color:white;
	background-color:#110D0C;
}
table tr:first-child th:first-child {
	border-top-left-radius: 16px;
}
table tr:first-child td:last-child {
	border-top-right-radius: 16px;
}
table tr:last-child th:first-child {
	border-bottom-left-radius: 16px;
}
table tr:last-child td:last-child {
	border-bottom-right-radius: 16px;
}
.table1 tr:nth-child(odd) {
	background-color:#333333;
}
.table1 tr:nth-child(even) {
	background-color:#222222;
}
.line1{
	width: 90%;
	text-align: center;
	float: left;
	margin-left: 5%;
	height: 2px;
	border: 1px solid#AAAAAA;
	margin-top: 3%;
}
.right{
	display:inline-block;
	width: 100%;
	text-align: center;
	margin-top: -420px;
}
.rightpart1{
	display: inline-block;
	margin-left: 400px;
}
.rightpart{
	display: inline-block;
	margin-left: 170px;
}
#main{
	background-color: #222222;
	width: 100%;
	height: 82%;
	margin-top: 3%;
	text-align: center;
	font-size: 25px;
}
.groupname{
	display: block;
	font-size: 30px;
	float: left;
	margin-left: 0%;
	color: whitesmoke;
	margin-top: 9%;
}
.groupname1{
	display: block;
	font-size: 30px;
	float: left;
	margin-left: 0%;
	color: whitesmoke;
	margin-top: -1%;
}
.group1{
	display: block;
	width: 100%;
	float: left;
	margin-left: -6%;
	margin-top: -3%;
}
.group{
	display: block;
	width: 100%;
	float: left;
	margin-left: 100%;
	margin-top: -8%;
}

#products{
	width: 80%;
	height: auto;
	float: left;
	margin-left: 20%;
	margin-top: 9%;
}
#product1{
	color: #F0F3F8;
	float: left;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top:3%;
	background-color:#333333;
	border: 1px solid#AAAAAA;
	height: 600px;
	width:400px;
}
.productword{
	color: #F0F3F8;
	float: left;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top:8%;
	background-color: #333333;
	border: 1px solid#AAAAAA;
	height: 600px;
	width:400px;
}
.productphoto{
	float: left;
	margin-left: 48px;
	margin-right: 20px;
	margin-top: 100px;
	width: 200px;
	height: 200px;
}
.productphoto1{
	float: left;
	margin-left: 48px;
	margin-top: 100px;
	width: 200px;
	height: 200px;
}
.product{
	display: inline-block;
	margin-top: 0px;
	text-align: center;
	margin-left: 0px;
	font-size: 20px;
	color: whitesmoke;
}
.product.h2{
	text-align: center;
}
.productgroup1{
	display: inline-block;
	float: left;
	margin-top: -150px;
	margin-left: -200px;
}
.productgroup{
	display: inline-block;
	float: left;
	margin-top: -70px;
	margin-left: -200px;
}
.gouwuche {
	position: fixed;
	bottom: 20px; /* 距离底部0，即紧贴底部 */
	right: 10px; /* 距离左边0，即紧贴左边 */
	width: 4%;
	height: 5%;
	background-color: #f1f1f1; /* 背景颜色 */
	padding: 10px; /* 内边距 */
	box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* 底部阴影 */
	z-index: 1000; /* 确保在页面最上层 */
  }
  
  
  


.add-to-cart{
	color: #0D131A;
	font-size: 25px;
	width: 200px;
	text-align: center;
}
.cart-item{
	margin-bottom: 10px;
	color: #F0F3F8;
	text-align: center;
}
.cart-container {
	width: 500px;
	height: 4660px;
	padding: 10px;
	margin-top: -4700px;
	color: black;
	float: left;
	margin-left: 1330px;
}
.group{
	float: left;
	margin-left: -100px;
}
.price{
	color:red;
	margin-top: -10px;
}
.btn1 {
	--hue: 190;
	margin-left: -500px;
	margin-top: 400px;
	position: relative;
	padding: 1rem 3rem;
	font-size: 1rem;
	line-height: 1.5;
	color: white;
	text-decoration: none;/*文本无修饰*/
	text-transform: uppercase;/*文本大写 */
	background-color: hsl(var(--hue), 100%, 41%);/*hsl色相（Hue）、饱和度（Saturation）、亮度（Lightness）*/
	border: 2px solid hsl(var(--hue), 100%, 41%);
	outline-style: solid ;
	outline-color: #ffff7f;
	outline: transparent;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;/*换行及行首尾空格全部被合并，文本不会换行，文本会在在同一行上继续，直到遇到标签为止*/
	transition: 0.25s;
			
	&:hover {
		background: hsl(var(--hue), 100%, 31%);
	}
}
.btn {
	--hue: 190;/*色相*/
	margin-left: -500px;
	margin-top: 30px;
	position: relative;
	padding: 1rem 3rem;
	font-size: 1rem;
	line-height: 1.5;
	color: white;
	text-decoration: none;/*文本无修饰*/
	background-color: hsl(var(--hue), 100%, 41%);/*hsl色相（Hue）、饱和度（Saturation）、亮度（Lightness）*/
	border: 2px solid hsl(var(--hue), 100%, 41%);
	outline-style: solid ;/*实线轮廓*/
	outline-color: #ffff7f;/*实线颜色*/
	outline: transparent;/*设置元素的轮廓颜色为透明*/
	overflow: hidden;/*溢出元素框的部分不可见*/
	cursor: pointer;/*指针悬停在元素上方时显示为光标类型*/
	user-select: none;/*用户不能选择文本*/
	white-space: nowrap;/*换行及行首尾空格全部被合并，文本不会换行，文本会在在同一行上继续，直到遇到标签为止*/
	transition: 0.25s;/*过渡时间0.25s*/
	
	&:hover {
		background: hsl(var(--hue), 100%, 31%);/*指针悬停时改变颜色亮度*/
	}
}
.btn-primary {/*按钮背景颜色*/
	--hue: 920;/*可在这里换其他颜色*/
}
.btn-ghost {
	color: hsl(var(--hue), 100%, 41%);
	background-color: transparent; /*背景颜色为透明*/
	border-color: hsl(var(--hue), 100%, 41%);
	&:hover {
		color: white;
	}
}
.btn-shine{
	color: white;
	&::before {
	position: absolute;
	content: "";/*没有特定内容被插入*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(/*创建线性渐变背景*/
	120deg,/*渐变方向从正下方偏左开始*/
	transparent,/*渐变的开始颜色，透明*/
	hsla(var(--hue), 100%, 41%, 0.5),/*hsla是颜色函数，饱和度、亮度、透明度*/
	transparent/*渐变的结束颜色，透明*/
	);
	transform: translateX(-100%);/*水平方向移动自身宽度的-100%*/
	transition: 0.6s;/*默认状态*/
	}
	&:hover {/*悬停状态*/
		background: transparent;/*悬停时元素背景为透明*/
		box-shadow: 0 0 20px 10px hsla(var(--hue), 100%, 41%, 0.5);/*盒子阴影，水平和垂直方向都没有平移，模糊半径20px，扩展半径10px，透明度0.5*/
	}
	&:hover::before {/*悬停伪元素样式，对：：before这个伪元素*/
		transform: translateX(100%);
	}
} 
#index_main {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}


			
.input[type="text"] {
	width: 200px;
	height: 30px;
	padding: 5px;
	font-size: 20px;
}
#mytextbox{
	float: left;
	margin-left: 50px;
	font-size: 25px;
}
#submit{
	background-color: #D4E5EF;
	color: #000000;
	font-size: 20px;
	width: 200px;
	height: 50px;
	float: left;
	margin-left: -310px;
	margin-top: 50px;
}
@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.flash-icon {
  animation: flash 1s ease-in-out forwards;
}
:root {
	/* webchat 工具栏的颜色 */
	--webchat-toolbar-background-color: #1464E4;
	/* webchat 工具栏文字和按钮的颜色 */
	--webchat-toolbar-text-color: #FFF;
}

/* webchat 对话框如果被遮挡，可以尝试通过 z-index、bottom、right 等设置 来调整*/
.webchat-container {
	z-index: 10001;
	bottom: 10px;
	right: 10px;
}

/* webchat 的唤起按钮如果被遮挡，可以尝试通过 z-index、bottom、right 等设置 来调整。也可以通过 CSS 进一步定制唤起按钮的形状、大小等。 */
.webchat-bubble-tip {
	z-index: 10002;
	bottom: 20px;
	right: 20px;
}